* { font-family: "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

a {
    text-decoration: none;
}

// .navbar { border-radius: 0; box-shadow: 0px 6px 16px #777; border: 0; }
.navbar { border-radius: 0; box-shadow: 0px 0px 20px #777; border: 0; }

.container {
    // text-align: center;
    overflow-y: scroll;
}

.subtitle {
    color: gray;
}

.verse-id {
    color: #999;
    font-size: 75%;
}
